# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
#'atom-workspace':
#  'ctrl-alt-o': 'atom-htmlizer:toggle'
'atom-text-editor':
  'ctrl-alt-b': 'atom-htmlizer:toggle-bold'
  'ctrl-alt-i': 'atom-htmlizer:toggle-italic'
  'ctrl-alt-u': 'atom-htmlizer:toggle-underline'
  'ctrl-alt-shift-i': 'atom-htmlizer:toggle-image'
